* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.contain {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.contain__btn {
    text-decoration: none;
    border: none;
    background: transparent;
    color: #fff;
    padding: 8px 48px;
    border-radius: 50px;
    cursor: pointer;
    margin: 12px;
    min-width: 120px;
}

.contain__btn:hover {
    opacity: 0.7;
}

.contain__btn--success {
    background-color: rgb(46, 212, 129);
}

.contain__btn--error {
    background-color: rgb(230, 81, 81);
}

.contain__btn--disabled {
    opacity: 0.4 !important;
    cursor: default;
}

/* toast */

.toast {
    z-index: 99999999;
    display: flex;
    align-items: center;
    border-radius: 2px;
    box-shadow:0 5px 8px rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-left: 4px solid;
    min-width: 300px;
    max-width: 400px;
    margin: 12px 0px;
    transition: all linear 0.5s;
}

@keyframes slideFromRight {
    from {
        transform: translateX(calc(100% + 16px));
    } to {
        transform: translateX(0);
    }
}

@keyframes Remove {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: rgb(46, 212, 129);
}

.toast--error {
    border-color: rgb(230, 81, 81);
}

.toast--success .icon {
    color: rgb(46, 212, 129);
}

.toast--error .icon {
    color: rgb(230, 81, 81);
}

.toast + .toast {
    margin-left: 18px;
}

.icon {
    padding-right: 8px;
    font-size: 20px;
}
.content {
    flex: 1;
    font-size: 14px;
}

.close {
    padding: 0px 8px;
    opacity: 0.6;
    cursor: pointer;
}

#toast {
    position: fixed;
    right: 0;
    top: 0;
    margin: 16px;
}